.formContainer {
    width: 600px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 75px 55px;
    background-color: #f9f9f9;
    padding: 20px; /* Add padding for better spacing */
}

.back-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}


.formTitle {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
 
.formGroup {
    margin-bottom: 15px;
}
 
.formLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #444;
}
 
.formInput,
.formSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: white;
}
 
.businessUnitContainer {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 4px;
    background-color: white;
}
 
.selectAllCheckbox {
    margin-right: 5px;
}
 
.businessUnitTag {
    background-color: #e0e0e0;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}
 
.removeTagButton {
    cursor: pointer;
    margin-left: 5px;
    color: #d32f2f;
    font-weight: bold;
}
 
.addUnitInput {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
}
 
.addButton {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}
 
.buttonGroup {
    text-align: right;
    margin-top: 20px;
}
 
.submitButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}
 
.resetButton,
.closeButton {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.back-button{
    background-color: "#3498db";
    color: "white";
    border: "none";
    border-radius: "4px";
    padding: "8px 15px";
    cursor: "pointer";
    display: "flex";
    align-items: "center";
    gap: "5px";
}